*{
    box-sizing: border-box;
}

.container{
    max-width: 300px;
    background-color: #eee;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
   }

.loader{
    width: 200px;
    height: 200px;
    border: 20px solid #ddd;
    border-radius: 50%;
    border-top: red solid 20px;
    border-right: blue solid 20px;
    border-bottom: green solid 20px;
    border-left: yellow solid 20px;
    animation: rotation 2s linear infinite;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}




